<ac:structured-macro ac:name="toc">
  <ac:parameter ac:name="maxLevel">3</ac:parameter>
</ac:structured-macro>

<h2><%= @data['name'] %></h2>
<%=@markdown.render @data['description'] %>

<% @data['resourceGroups'].each do |group| %>
  <h2><%= group['name'] %></h2>
  <hr/>
  <% group['resources'].each do |resource| %>
    <% resource['actions'].each do |action| %>
      <h3><%= action['method'] %> <%= resource['uriTemplate'] %></h3>

      <h5>Description</h5>
      <%=@markdown.render action['description'] %>

      <% if action['parameters'] %>
        <h5>Parameters</h5>
        <table>
          <tbody>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>Example</th>
              <th>Mandatory</th>
              <th>Description</th>
            </tr>
            <% action['parameters'].each do |parameter| %>
              <tr>
                <td><%= parameter['name'] %></td>
                <td><%= parameter['type'] %></td>
                <td><%= parameter['default'] %></td>
                <td><%= parameter['example'] %></td>
                <td><%= parameter['required'] and 'yes' or 'no' %></td>
                <td><%=@markdown.render parameter['description'] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

      <% if action['body'] %>
        <ac:structured-macro ac:name="code">
          <ac:plain-text-body>
            <![CDATA[<%= action['body'] %>]]>
          </ac:plain-text-body>
        </ac:structured-macro>
      <% end %>

      <% if action['examples'] %>
        <% action['examples'].each do |example| %>
          <% if example['requests'] %>
            <h5>Request</h5>
            <% example['requests'].each do |request| %>
              <%=@markdown.render request['description'] if request['description'] %>
              <% if request['body'] %>
                <ac:structured-macro ac:name="code">
                  <ac:parameter ac:name="title">Example</ac:parameter>
                  <ac:plain-text-body>
                    <![CDATA[<%= request['body'] %>]]>
                  </ac:plain-text-body>
                </ac:structured-macro>
              <% end %>
              <% if request['schema'] %>
                <ac:structured-macro ac:name="code">
                  <ac:parameter ac:name="title">JSON Schema</ac:parameter>
                  <ac:parameter ac:name="collapse">true</ac:parameter>
                  <ac:plain-text-body>
                    <![CDATA[<%= request['schema'] %>]]>
                  </ac:plain-text-body>
                </ac:structured-macro>
              <% end %>
            <% end %>
          <% end %>
          <% if example['responses'] %>
            <h5>Response codes</h5>
            <table>
              <tbody>
                <tr>
                  <th>Code</th>
                  <th>Comment</th>
                </tr>
                <% example['responses'].each do |response| %>
                  <tr>
                    <td><%= response['name'] %></td>
                    <td>
                      <%=@markdown.render response['description'].to_s %>
                      <% if response['body'] %>
                        <ac:structured-macro ac:name="code">
                          <ac:parameter ac:name="title">Example</ac:parameter>
                          <ac:plain-text-body>
                            <![CDATA[<%= response['body'] %>]]>
                          </ac:plain-text-body>
                        </ac:structured-macro>
                      <% end %>
                      <% if response['schema'] %>
                        <ac:structured-macro ac:name="code">
                          <ac:parameter ac:name="title">JSON Schema</ac:parameter>
                          <ac:parameter ac:name="collapse">true</ac:parameter>
                          <ac:plain-text-body>
                            <![CDATA[<%= response['schema'] %>]]>
                          </ac:plain-text-body>
                        </ac:structured-macro>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
